@import "../core/cloud-ocean-button";

#room {
  display: flex;
  justify-content: space-between;

  #main-panel {
    width: 100%;

    #room-header {
      position: relative;

      h1 {
        width: fit-content;
        margin: auto;
        font-size: 22px;
      }

      #leave-room {
        position: absolute;
        font-size: 22px;
        border: 2px solid white;
        border-radius: 20px;
        top: 0;
        @include cloud-ocean-button();
      }
    }
  }
  @import "game";
  @import "chat";
}
