#room {
  display: flex;
  justify-content: space-between;

  #main-panel {
    width: 100%;

    #room-header {
      position: relative;

      h1 {
        width: fit-content;
        margin: auto;
      }

      #leave-room {
        position: absolute;
        background-color: transparent;
        font-size: 22px;
        border: 2px solid white;
        border-radius: 20px;
        top: 0;
        color: white;
        transition: all 0.75s linear;
        &:hover {
          color: #008cff;
          background-color: white;
          cursor: pointer;
        }
      }
    }
  }

  @import "chat";
}
