#chat {
  height: fit-content;
  width: 365px;

  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;

  border-radius: 5px;

  #chat-messages {
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;

    .chat-message {
      margin-bottom: 6px;
    }

    .message-text {
      margin: 5px;
      padding: 5px;
      border-radius: 4px;

      background-color: white;
      color: rgba(0, 140, 255, 1);
    }

    .sender {
      float: right;
      border-radius: 5px;
      padding: 2px 3px;
      margin-right: 5px;
      font-size: 12px;
      background-color: white;
      color: rgba(0, 140, 255, 1);
    }
  }

  #message-publication {
    display: flex;

    #new-message-body {
      width: 80%;
      height: 24px;
      padding: 4px 0 4px 8px;
      font-size: 16px;
      background-color: rgba(0,0,0,0);
      color: white;

      border: 0;
      border-right: 1px solid white;
      border-top: 1px solid white;
    }

    #send-message {
      width: 64px;
      border: 0;
      border-top: 1px solid white;
      background-color: transparent;

      &:hover {
        cursor: pointer;
      }

      img {
        height: 20px;
      }
    }
  }
}
