h1 {
  height: 80px;
  margin: 5px 0 25px;
}

section#chat-room {
  height: calc(100% - 110px);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  section#message-list {
    height: 80%;
    display: flex;
    justify-content: flex-end;

    ul.message-list {
      overflow: scroll;
    }
  }

  section#message-submission {
    height: 20%;
    display: flex;
    justify-content: flex-end;

    textarea {
      color: #535e69;
      border-radius: 5px;
    }

    button {
      background: url('images/Send-Icon.png') no-repeat 0 0;
      background-size: contain;
    }
  }

}
