h1 {
  height: 80px;
  margin: 5px 0 25px;
}

section#chat-room {
  height: calc(100% - 110px);


  display: flex;
  flex-direction: column;
  align-items: flex-end;

  section#message-list, section#message-submission {
    width: 400px;
  }

  section#message-list {
    height: calc(100% - 65px);
    display: flex;
    justify-content: flex-end;

    ul.message-list {
      overflow: scroll;
    }
  }

  section#message-submission {
    height: 65px;
    display: flex;
    justify-content: flex-end;

    textarea {
      width: calc(100% - 50px);
      color: #535e69;
      border-radius: 5px;
    }

    button {
      height: 50px;
      width: 50px;

      background: url('images/Send-Icon.png') no-repeat 0 0;
      background-size: contain;

      &:hover {
        cursor: pointer;
      }
    }
  }

}
