<section id="loading-room" *ngIf="!roomName">
  loading...
</section>

<section id="room" *ngIf="roomName">
  <section id="main-panel">
    <section id="room-header">
      <h1>{{roomName}}</h1>
      <button id="leave-room" (click)="leaveRoom(roomName)">
        <
      </button>
      <!-- <button class="room-button">
        <h6>
          <pokemon-room-icon [pokemon]="mascot"></pokemon-room-icon>
        </h6>
        <p>{{room.users.size}}/{{room.maxNumberOfUsers}}</p>
        <p>1/3</p>
      </button> -->
    </section>

    <game [roomName]="roomName"></game>
  </section>
</section>
