<section id="game-loading" *ngIf="!game">
  <p>Loading game...</p>
</section>

<section id="trivia-game" *ngIf="game">
  <section id="game-scores">
    <h6>Player Scores</h6>

    <ul>
      <li *ngFor="let player of game.playersToScores.keys()">
        {{player.name}} -> {{game.playersToScores.get(player)}} pts
      </li>
    </ul>
  </section>

  <section id="game-progress">
    <h6>Progress</h6>

    <ul>
      <li>Current Round: {{game.completedRoundCount + 1}}</li>
      <li>Total Rounds: {{game.roundCount}}</li>
      <li>Completion Proportion: {{game.completedRoundProportion}}</li>
    </ul>
  </section>

  <section id="question-response" *ngIf="game.phase === 'ASKING_QUESTION'">
    THIS IS THE QUESTION RESPONSE SECTION
  </section>

</section>
