<section id="game-loading" *ngIf="!game">
  <p>Loading game...</p>
</section>

<section id="trivia-game" *ngIf="game">
  <h2>Trivia Game</h2>

  <section id="game-scores">
    <h6>Player Scores</h6>

    <ul>
      <li *ngFor="let player of game.playersToScores.keys()">
        {{player.name}} -> {{game.playersToScores.get(player)}} pts
      </li>
    </ul>
  </section>

  <section id="game-progress">
    <h6>Progress</h6>

    <ul>
      <li>Current Round: {{game.completedRoundCount + 1}}</li>
      <li>Total Rounds: {{game.roundCount}}</li>
      <li>Completion Proportion: {{game.completedRoundProportion}}</li>
    </ul>
  </section>

  <section id="question-response" *ngIf="game.phase === 'ASKING_QUESTION'">
    <h6>Question: {{game.currentQuestion.text}}</h6>

    <ul>
      <li *ngFor="let answer of game.currentAnswers">
        <button (click)="submitAnswer(answer)">{{answer.text}}</button>
      </li>
    </ul>
  </section>

  <section id="question-response" *ngIf="game.phase === 'FINISHED'">
    <h6>Game Finished!</h6>
    <p>Here are the winners:</p>
    <ul>
      <li *ngFor="let winner of game.highestScorers">
        {{winner.name}}
      </li>
    </ul>
  </section>

</section>
