@import '../core/pokemon-button';

$poke-button-width: 250px;
$poke-button-offset: 90px;

$first-row-unactivated-top: 15px;
$second-row-unactivated-top: 255px;
$third-row-unactivated-top: 510px;
$fourth-row-unactivated-top: 765px;
$fifth-row-unactivated-top: 765px + 255px;

$left-col-unactivated-left: calc(50% - #{$poke-button-width} - #{$poke-button-offset});
$right-col-unactivated-right: calc(50% + #{$poke-button-offset});

$Charizard: (
  name: Charizard,
  unactivated-top: $first-row-unactivated-top,
  unactivated-left: $left-col-unactivated-left
);

$Garchomp: (
  name: Garchomp,
  unactivated-top: $first-row-unactivated-top,
  unactivated-left: $right-col-unactivated-right
);

$Lugia: (
  name: Lugia,
  unactivated-top: $second-row-unactivated-top,
  unactivated-left: $left-col-unactivated-left
  );

$Rayquaza: (
  name: Rayquaza,
  unactivated-top: $second-row-unactivated-top,
  unactivated-left: $right-col-unactivated-right
);

$Gengar: (
  name: Gengar,
  unactivated-top: $third-row-unactivated-top,
  unactivated-left: $left-col-unactivated-left
);

$Mewtwo: (
  name: Mewtwo,
  unactivated-top: $third-row-unactivated-top,
  unactivated-left: $right-col-unactivated-right
);

$Lucario: (
  name: Lucario,
  unactivated-top: $fourth-row-unactivated-top,
  unactivated-left: $left-col-unactivated-left
);

$Blaziken: (
  name: Blaziken,
  unactivated-top: $fourth-row-unactivated-top,
  unactivated-left: $right-col-unactivated-right
);

$Eevee: (
  name: Eevee,
  unactivated-top: $fifth-row-unactivated-top,
  unactivated-left: $left-col-unactivated-left
);

$Pikachu: (
  name: Pikachu,
  unactivated-top: $fifth-row-unactivated-top,
  unactivated-left: $right-col-unactivated-right
);

$pokemon:
  $Charizard,
  $Garchomp,
  $Lugia,
  $Rayquaza, 
  $Gengar, 
  $Mewtwo, 
  $Lucario, 
  $Blaziken,
  $Eevee,
  $Pikachu;

#matchmaking {

  #unplaced-user-total, #matchmaking-instructions {
    text-align: center;
    font-size: 20px;
  }

  #matchmaking-instructions {
    margin-top: 15px;
  }

  #rooms {
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;

    @each $pocket-monster in $pokemon {
      ##{map-get($map: $pocket-monster, $key: name)} {
        position: absolute;
        top: map-get($pocket-monster, unactivated-top);
        left: map-get($pocket-monster, unactivated-left);
      }

      ##{map-get($map: $pocket-monster, $key: name)}.activated {
        top: 15px;
        left: 15px;
      }
    }
  }

  .room-button {
    @include pokemon-button();
  }
}
