#matchmaking {
  padding: 5px 70px 0;

  #unplaced-user-total, #matchmaking-instructions {
    text-align: center;
    font-size: 20px;
  }

  #matchmaking-instructions {
    margin-top: 15px;
  }

  #rooms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 35px;
    width: 650px;
  }

  .room-button {
    height: 200px;
    width: 250px;
    padding: 5px;
    margin-bottom: 55px;

    border: 2px solid white;
    border-radius: 15px;

    color: white;
    background-color: rgba(0,0,0,0);

    transition: all .75s linear;

    &:hover, &.activated {
      cursor: pointer;
      transition: all .55s linear;
      background-color: white;
      color: rgb(0, 140, 255);
      svg path, svg ellipse {
        fill: rgb(0, 140, 255);
      }
    }

    h6 {
      font-size: 14px;
    }
    
    svg {
      width: 150px;
      height: 150px;
      path, ellipse {
        fill: white;
        transition: all .55s linear;
      }
    }

    p {
      margin-top: 5px;
      font-size: 13px;
    }
  }
}
