<h1>{{room.getName()}}</h1>

<button (click)="leaveRoom()">Leave Room</button>

<section id="participant-details">
  <ul>
    <li *ngFor="let user of room.getUsers()">
      {{user.getName()}}
    </li>
  </ul>
</section>

<section id="chat-room">
  <section id="message-list" *ngIf="!!room">
    <ul class="message-list" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <li *ngFor="let message of room.getMessages()">
        <p>{{message.getBody()}}</p>
        <p>{{message.getSenderName()}} {{message.getTimestamp()}}</p>
      </li>
    </ul>
  </section>

  <section id="message-submission">
    <textarea [(ngModel)]="messageBody"></textarea>
    <button (click)="sendChatMessage()"></button>
  </section>
</section>
