$send-message-height: 30px;
$send-message-margin-bottom: 5px;
#chat-messages {
  height: calc(100% - #{$send-message-height + $send-message-margin-bottom});
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  padding: 0 4px;
}

.chat-message {
  padding: 1px 2px;
  margin: 5px 0;
  border: 1px solid white;
  border-radius: 3px;
  background-color: white;
  color: #008cff;
  font-size: 17px;
}

#chat-messages .chat-message:first-child {
  margin-bottom: 10px;
}

.message-sender {
  margin-top: 1px;
  font-size: 12px;
  text-align: right;
}