<div [ngSwitch]="pokemon.name">
  <charizard *ngSwitchCase="'Charizard'"></charizard>
  <rayquaza *ngSwitchCase="'Rayquaza'"></rayquaza>
  <lugia *ngSwitchCase="'Lugia'"></lugia>
  <eevee *ngSwitchCase="'Eevee'"></eevee>
  <blaziken *ngSwitchCase="'Blaziken'"></blaziken>
  <gengar *ngSwitchCase="'Gengar'"></gengar>
  <pikachu *ngSwitchCase="'Pikachu'"></pikachu>
  <lucario *ngSwitchCase="'Lucario'"></lucario>
  <mewtwo *ngSwitchCase="'Mewtwo'"></mewtwo>
  <garchomp *ngSwitchCase="'Garchomp'"></garchomp>
</div>
