<section id='chat' [class.active]='chatActive'>
  <section id='chat-top'>
    <svg width="32" height="32"
          xmlns="http://www.w3.org/2000/svg"
          id="top-left-small-etch"
          class="pokedex-etch">
      <path d="M5 5
               A 30 30, 0, 0, 0, 30 30"
               stroke="#008cff"
               stroke-width="2"
               fill-opacity="0"
               transform="rotate(-90 0 00) translate(-32)"/>
    </svg>

    <svg width="52" height="52"
          xmlns="http://www.w3.org/2000/svg"
          id="top-left-large-etch"
          class="pokedex-etch">
      <path d="M5 5
                   A 50 50, 0, 0, 0, 50 50"
                   stroke="#008cff"
                   stroke-width="2"
                   fill-opacity="0"
                   transform="rotate(-90 0 00) translate(-52)"/>
    </svg>

    <svg width="104" height="52" xmlns="http://www.w3.org/2000/svg" id="top-center-large-etch" class="pokedex-etch">
      <path
      d="M2 0
      A 50 50, 0, 0, 0, 102 0"
      stroke="#008cff"
      stroke-width="2"
      fill-opacity="0"
      transform="rotate(180 0 0) translate(-104 -52)"/>
    </svg>

    <svg width="204" height="102" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202 102" id="top-center-small-etch" class="pokedex-etch">
      <path d="M2 0
               A 100 100, 0, 0, 0, 202 0
               L 2 0" stroke="#008cff" stroke-width="2" fill="#008cff" fill-opacity="1" transform="rotate(180 0 0) translate(-202 -102)"
      />
    </svg>

    <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" id="top-right-small-etch" class="pokedex-etch">
      <path d="M5 5
               A 30 30, 0, 0, 0, 30 30"
               stroke="#008cff"
               stroke-width="2"
               fill-opacity="0" />
    </svg>

    <svg width="52" height="52" xmlns="http://www.w3.org/2000/svg" id="top-right-large-etch" class="pokedex-etch">
      <path d="M5 5
                   A 50 50, 0, 0, 0, 50 50"
                   stroke="#008cff"
                   stroke-width="2"
                   fill-opacity="0" />
    </svg>
  </section>

  <section id='chat-middle'>
    <ul id='chat-messages' *ngIf='chat'>
      <li *ngFor='let message of chat.messages'>
        {{ message.body }}
      </li>
    </ul>

    <form id='send-message'>
      <input type='text' [(ngModel)]='newMessage' name='newMessage' id='newMessage' >
      <button class='pokeball-button' (click)='sendMessage()'>
        <div class='left-line'></div>
        <div class='center-button'></div>
        <div class='right-line'></div>
      </button>
    </form>
  </section>

  <section id='chat-bottom'>
    <div>
        <svg
          width="32" height="32"
          xmlns="http://www.w3.org/2000/svg"
          id="bottom-left-small-etch"
          class="pokedex-etch">
          <path
            d="M5 5
            A 30 30, 0, 0, 0, 30 30"
            stroke="#008cff"
            stroke-width="2"
            fill-opacity="0"
            transform="rotate(180 0 0) translate(-32 -32)"
          />
        </svg>

        <svg width="52" height="52" xmlns="http://www.w3.org/2000/svg" id="bottom-left-large-etch" class="pokedex-etch">
          <path
            d="M5 5
            A 50 50, 0, 0, 0, 50 50"
            stroke="#008cff"
            stroke-width="2"
            fill-opacity="0"
            transform="rotate(180 0 0) translate(-52 -52)"
          />
        </svg>

        <svg
          width="104"
          height="52"
          xmlns="http://www.w3.org/2000/svg"
          id="bottom-center-large-etch"
          class="pokedex-etch">
          <path
            d="M2 0
            A 50 50, 0, 0, 0, 102 0" stroke="#008cff" stroke-width="2" fill-opacity="0" />
        </svg>

        <svg width="204" height="102" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202 102" id="bottom-center-small-etch" class="pokedex-etch">
          <path d="M2 0
            A 100 100, 0, 0, 0, 202 0
            L 2 0" stroke="#008cff" stroke-width="2"
            fill="#008cff"
            fill-opacity="1"/>
        </svg>

        <svg width="32" height="32"
        xmlns="http://www.w3.org/2000/svg"
        id="bottom-right-small-etch" class="pokedex-etch">
          <path d="M5 5
          A 30 30, 0, 0, 0, 30 30" stroke="#008cff"
          stroke-width="2"
          fill-opacity="0"
          transform="rotate(90 0 0) translate(0 -32)"/>
        </svg>

        <svg width="52" height="52" xmlns="http://www.w3.org/2000/svg"
              id="bottom-right-large-etch"
              class="pokedex-etch">
          <path
            d="M5 5
              A 50 50, 0, 0, 0, 50 50"
            stroke="#008cff"
            stroke-width="2"
            fill-opacity="0"
            transform="rotate(90 0 0) translate(0 -52)"/>
        </svg>
      </div>
  </section>
</section>